* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    /* background: linear-gradient(antiquewhite, orange); */

    background: aliceblue;

    min-height: 100vh;
}

/* GALLERY  */

.main {
    border: 1px solid black;

    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 10px #333333;
}

.row {
    display: grid;
    grid-template-columns: 20% auto 20%;
    gap: 50px;
}

.col {
    margin: 20px;
}

.adv-col {
    border: 1px solid black;

    max-height: 600px;
}

.main_section {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto auto auto; */
    gap: 20px;
    margin: 20px auto;
}

.main_image {
    width: 100%;
}
